.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

@each $bp-key, $bp-val in $breakpoints {
  $bp-fix: bp-fix($bp-key);
  @media (min-width: $bp-val) {
    @for $i from 1 through $grid-cols {
      .col-#{$bp-fix}#{$i} {
        flex-basis: (100% / $grid-cols * $i);
        max-width: (100% / $grid-cols * $i);
        position: relative;
        width: 100%;
      }
    }
    .col-#{$bp-fix}auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none;
      position: relative;
    }
  }
}
