@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto-Black"), url("./fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "./css/bootstrap-reboot.css";
@import "../cluster/cluster.scss";
@import "./css/style.scss";
